.container(ng-controller="DeviseCtrl")
  %nav.navbar.navbar-default(role='navigation')
    .container-fluid
      .navbar-header
        %a.navbar-brand(href='#/' ng-click="sendMessage()")
          {{application.name}}

        %a.navbar-brand(href='#/' ng-click="auth()")
          TEST

      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li
            %a(href='#/articles/new') Create article

        .ul.nav.navbar-nav.navbar-right
          %li
            %form.navbar-form.navbar-right(role='search' ng-controller='SearchCtrl')
              .form-group
                %input.form-control(placeholder='Search' type='text' ng-model='text')
              %button.btn.btn-default(type='submit' ng-click="search()" ) Search
          %li.dropdown
            %a.dropdown-toggle(data-toggle='dropdown')
              %span(ng-if="isAuthenticated")
                {{current_user.username}}
              %span(ng-if="!isAuthenticated")
                User
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              %li(ng-hide="isAuthenticated")
                %a(href='#/login') Login
              %li(ng-hide="isAuthenticated")
                %a(href='#/registration') Registration
              %li(ng-show="isAuthenticated")
                %a(ng-click='logoutUser()' href='#/logout') Logout