.container
  %form(role='form')
    .panel.panel-default
      .panel-heading.clearfix
        %h3 Edit Article
      .panel-body
        .form-group
          %label Title
          %input.form-control(type='text' ng-model='article.title')
        .form-group
          %label Content
          %textarea.form-control(ng-model='article.content')
        .form-group
          %label Tags
          %tags-input(ng-model='tags')

    %button.btn.btn-info(ng-click="saveArticle()") Update
