.container
  .panel.panel-default(ng-repeat="article in items")
    .panel-heading.clearfix
      %h3.panel-title.pull-left
        %a(ng-href='#/articles/{{article.id}}' role='button')
          {{article.title}}
      .btn-group.pull-right
        %a.btn.btn-default.btn-sm(ng-show='canManage(article)' href='#/articles/{{article.id}}/edit' role='button') Edit
        %a.btn.btn-default.btn-sm(ng-show='canManage(article)' role='button' ng-click='deleteArticle($index)') Remove
    .panel-body
      %h3
        {{article.user.username}}
      {{article.content}}
    .panel-footer
      %a(type="button" href="#/tags/{{tag.title}}" class="btn btn-primary btn-xs" ng-repeat="tag in article.tags")
        {{tag.title}}
