.container
  %h1 Create new Article
  %form(role='form')
    .form-group
      %label Title
      %input.form-control(type='text' ng-model='article.title')
    .form-group
      %label Content
      %textarea.form-control(ng-model='article.content')
    .form-group
      %label Tags
      %tags-input(ng-model='tags')

    %button.btn.btn-danger(ng-click="createArticle()") Create
