.container

  .panel.panel-default
    .panel-heading.clearfix
      %h4.panel-title.pull-left
        {{article.title}}
      .btn-group.pull-right
        %a.btn.btn-default.btn-sm(ng-show='canManage(article)' href='#/articles/{{article.id}}/edit' role='button') Edit
        %a.btn.btn-default.btn-sm(ng-show='canManage(article)' href='{{item.link}}' role='button' ng-click='deleteArticle($index)') Remove
    .panel-body
      {{article.content}}
    .panel-footer
      %a(type="button" href="#/tags/{{tag.title}}" class="btn btn-primary btn-xs" ng-repeat="tag in article.tags")
        {{tag.title}}

%div(ng-controller="CommentsCtrl")
  %ng-include(src="'assets/comments/index'")
  %ng-include(src="'assets/comments/new'")
