.container
  %h1 Login
  %form(ng-submit="submitLogin()" role='form')
    .form-group(ng-repeat="error in errors")
      {{error}}
    .form-group
      %label email
      %input.form-control(name="email" ng-model="user.email" required="required" type="email")
    .form-group
      %label password
      %input.form-control(name="password" ng-model="user.password" required="required" type="password")
    %button.btn.btn-primary.btn-lg(type="submit") Sign in
