.container
  %h3 Comments ({{comments.length}})

  .media(ng-repeat="comment in comments")
    .media-body
      %span.label.label-default
        {{comment.user.username}}

      %span.label.label-primary
        {{comment.created_at | date:'medium'}}

      %a.btn.btn-xs.btn-danger(ng-show="canManage(comment)" role='button' ng-click='deleteComment($index)') Remove

      %div
        {{comment.content}}

