.container(ng-show='isAuthenticated')
  %h3 Create new Comment
  %form(role='form')
    .form-group
      %label Content
      %textarea.form-control(ng-model='new_comment.content')

    %button.btn.btn-danger(ng-click="createComment()") Create